body {
  background: black;
}
.links {
  padding-top: 100px;
}
.links > p {
  text-align: left !important;
}
.header > div:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header > div > img {
  width: 210px;
  height: 210px;
  object-fit: cover;
  border-radius: 50%;
  padding: 10px;
  margin: -10px;
  border: 1px solid white;
}
.background {
  /* background: rgb(247, 239, 239); */
  background: #f7f7f7;
  height: 2715.4285714286px;
  width: 1920px;
}
.header {
  height: 250px;
  background: #12b094;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  display: grid;
  grid-template-columns: 210px 2fr 1fr;
  padding: 50px 200px;
  column-gap: 60px;
}
.header > div {
  /* background: red; */
}

.header > div > p > i {
  /* color: #12b094; */
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}
.header > div > p {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  /* color: #12b094; */
}
.header > div:nth-of-type(2) {
  /* padding: 50px; */
}
.header > div > h4 {
  font-size: 18px;
  font-weight: 200;
  text-align: justify;
  line-height: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 10px;
}
.profile > div > p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: justify;
}
.header > div > hr {
  border: 0.5px solid white;
}
.header > div > h1 {
  text-align: center;
  letter-spacing: 5px;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  font-weight: 400;
  font-family: "calistoga";
  font-size: 40px;
  margin: 10px;
}
.grid {
  padding-top: 10px;
  margin: auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px 300px auto;
  column-gap: 10px;
  row-gap: 10px;
}
.profile {
  width: 94%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 210px 1px 4fr;
  grid-template-rows: auto;
  column-gap: 10px;
}
.profile > div:nth-of-type(2) {
  /* background: black; */
  width: 100%;
  height: 100%;
}
.profile > div {
  /* background: red; */
}
.profile > div > h1 {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  text-align: left;
  padding-right: 20px;
  padding-left: 20px;
  letter-spacing: 3px;
  font-size: 25px;
}
.grid > div {
  border-top: 2px solid #12b094;
  background: white;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.grid > div:nth-of-type(1) {
  grid-column: 1/4;
  grid-row: 1/-1;
  padding-top: 40px;
}
.grid > div:nth-of-type(3) {
  grid-column: 1/-1;
}
.profile > div > h3 {
  letter-spacing: 1px;
}
.profile > div > h3,
.profile > div > h2,
.profile > div > h4,
.profile > div > p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0 auto;
  width: 94%;
}
.profile > div > h4 {
  margin: 5px auto;
  color: #12b094;
  font-weight: 400 !important;
  letter-spacing: 1px;
}
h4 {
  font-weight: 100;
}
.profile > div > p {
  /* padding  -top: 20px; */
  padding-bottom: 20px;
}
.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 94%;
  margin: auto;
  column-gap: 30px;
}
.skills > div > h2 {
  font-weight: 700;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin: 0;
}
.skills > div > p {
  text-align: justify;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.technical {
  width: 94%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.technical > p {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.technical > p:nth-of-type(7),
.technical > p:nth-of-type(8),
.technical > p:nth-of-type(9) {
  border-bottom: none;
}
p {
  line-height: 30px;
}
.profile:nth-of-type(1) {
  margin-top: 0 !important;
}
.profile:nth-of-type(1) > div > p {
  padding-top: 0 !important;
}
i {
  color: rgba(0, 0, 0, 0.3);
}
hr {
  border: 1px solid #12b094;
}
